.projects_swiper2 {
  height: 100%;
}
.projects_section2 {
  height: 70vh;
  margin-bottom: 5rem;
}
.slider_img {
  position: relative !important;
}
/* #project-slider img {
  position: relative !important;
} */
