.projects_swiper2 {
  height: 100%;
}
.projects_section2 {
  height: 70vh;
  margin-bottom: 5rem;
}
.slider_img {
  position: relative !important;
  border-bottom-color: blue !important;
  border-bottom-width: 2rem !important;
}
.slider_img:hover {
  cursor: pointer !important;
  border-bottom-color: yellow !important;
}
/* #project-slider img {
  position: relative !important;
} */
#img1:hover {
  cursor: pointer;
  border-bottom-color: yellow;

  /* border-b-white border-b-4 transition duration-500 */
}
#img1 {
  border-bottom-color: blue;
  border-bottom-width: 2rem;
}
