.projects_swiper2 {
  height: 100%;
}
.projects_section2 {
  height: 70vh;
}
.slider_img {
  position: relative !important;
  border-bottom-color: blue !important;
  border-bottom-width: 2rem !important;
}
.slider_img:hover {
  cursor: pointer !important;
  border-bottom-color: yellow !important;
}

